html {
  font-size: 20px;
  font-family: sans-serif;
  background-color: lightgray;
}

li {
  line-height: 160%;
  padding: 20px 10px;
  cursor: pointer;
}

li:nth-child(even) {
  background-color: orange;
}
li:nth-child(odd) {
  background-color:orangered;
}

.enabled {
  font-weight: bold;
} 
.disabled {
color: gray;
}